.ipynb_checkpoints/
.pylintrc
.DS_Store
.mypy_cache/
__pycache__/

*.swp
.env

*.log

images
*.png

data/arxive
data/generated/*.mp3
data/generated/*.mp4
trained_models
get_midi_info.py
midi2audio2video.py